@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    width: 100%;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;

    label {
        flex: 0 0 2.5rem;
    }
    input {
        flex: 1;
        min-width: 25rem;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
    }
}